MIMIC/MIMIC/Service References/PatientsService/PatientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patients">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="subject_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hadm_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icustay_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="intime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="los" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insurance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="religion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marital_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ethnicity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_hosp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_ssn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admittime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dischtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deathtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discharge_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edregtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edouttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospital_expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="has_chartevents_data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICUSelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchICUPatients">
        <s:complexType />
      </s:element>
      <s:element name="SearchICUPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchICUPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPatients" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:ICUSelectPatients" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:ICUSelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchICUPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchICUPatients" />
  </wsdl:message>
  <wsdl:message name="SearchICUPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchICUPatientsResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <wsdl:input message="tns:SelectPatientsSoapIn" />
      <wsdl:output message="tns:SelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <wsdl:input message="tns:SearchPatientsSoapIn" />
      <wsdl:output message="tns:SearchPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <wsdl:input message="tns:ICUSelectPatientsSoapIn" />
      <wsdl:output message="tns:ICUSelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchICUPatients">
      <wsdl:input message="tns:SearchICUPatientsSoapIn" />
      <wsdl:output message="tns:SearchICUPatientsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientsServiceSoap" type="tns:PatientsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchICUPatients">
      <soap:operation soapAction="http://tempuri.org/SearchICUPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientsServiceSoap12" type="tns:PatientsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap12:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap12:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchICUPatients">
      <soap12:operation soapAction="http://tempuri.org/SearchICUPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientsService">
    <wsdl:port name="PatientsServiceSoap" binding="tns:PatientsServiceSoap">
      <soap:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientsServiceSoap12" binding="tns:PatientsServiceSoap12">
      <soap12:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>