MIMIC/MIMIC/Service References/PatientsService/PatientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patients">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="subject_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hadm_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icustay_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valuenum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="intime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="los" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insurance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="religion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marital_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ethnicity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_hosp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_ssn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admittime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dischtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deathtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discharge_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edregtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edouttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospital_expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="has_chartevents_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dbsource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cgid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="warning" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultstatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stopped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linksto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conceptid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="submit_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="submit_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_tele" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_resp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_cdiff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_mrsa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_vre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_outcome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discharge_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acknowledge_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="updatetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acknowledgetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outcometime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstreservationtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentreservationtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transfertime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="care_label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linkorderid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inp_stopped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="newbottle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercategoryname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="secondaryordercategoryname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercomponenttypedescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercategorydescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientweight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalamountuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isopenbag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="continueinnextdept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cancelreason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="statusdescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_editedby" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_canceledby" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originalamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originalrate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_chartdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iserror" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_storetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcpt_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sectionrange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcpt_sectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subsectionrange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcp_subsectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codesuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mincodeinsubsection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maxcodeinsubsection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seq_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icd9_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costcenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ticket_id_seq" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subsectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dr_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_severity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_mortality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_valuenum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_chartdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="spec_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="spec_type_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="org_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="org_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isolate_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ab_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ab_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_comparison" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interpretation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="enddate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_name_poe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_name_generic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="formulary_drug_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gsn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ndc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prod_strength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dose_val_rx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dose_unit_rx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="form_val_disp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="form_unit_disp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="route" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="short_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="long_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_p_short_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_p_long_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_l_label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fluid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_l_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loinc_code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICUSelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseSelectResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients1">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatients1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatients1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients2">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatients2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatients2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable1">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable2">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable3">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable3Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable4">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable4Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable5">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable5Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable6">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable6Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable7">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable7Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable7Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable8">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable8Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable8Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable9">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable9Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable9Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable10">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable10Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable11">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable11Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable11Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable12">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable12Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable12Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable13">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable13Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable13Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable14">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable14Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable14Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable15">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable15Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable15Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable16">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable16Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable16Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable17">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable17Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable17Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable18">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable18Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable18Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable19">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable19Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable19Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable20">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable20Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable20Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable21">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable21Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable21Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable22">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable22Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable22Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable23">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable23Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable23Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable24">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable24Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable24Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable25">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable25Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable25Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTable26">
        <s:complexType />
      </s:element>
      <s:element name="SearchTable26Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTable26Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPatients" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:ICUSelectPatients" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:ICUSelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="CaseSelectSoapIn">
    <wsdl:part name="parameters" element="tns:CaseSelect" />
  </wsdl:message>
  <wsdl:message name="CaseSelectSoapOut">
    <wsdl:part name="parameters" element="tns:CaseSelectResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPatients1SoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients1" />
  </wsdl:message>
  <wsdl:message name="SearchPatients1SoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatients1Response" />
  </wsdl:message>
  <wsdl:message name="SearchPatients2SoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients2" />
  </wsdl:message>
  <wsdl:message name="SearchPatients2SoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatients2Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable1SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable1" />
  </wsdl:message>
  <wsdl:message name="SearchTable1SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable1Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable2SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable2" />
  </wsdl:message>
  <wsdl:message name="SearchTable2SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable2Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable3SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable3" />
  </wsdl:message>
  <wsdl:message name="SearchTable3SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable3Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable4SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable4" />
  </wsdl:message>
  <wsdl:message name="SearchTable4SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable4Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable5SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable5" />
  </wsdl:message>
  <wsdl:message name="SearchTable5SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable5Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable6SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable6" />
  </wsdl:message>
  <wsdl:message name="SearchTable6SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable6Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable7SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable7" />
  </wsdl:message>
  <wsdl:message name="SearchTable7SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable7Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable8SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable8" />
  </wsdl:message>
  <wsdl:message name="SearchTable8SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable8Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable9SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable9" />
  </wsdl:message>
  <wsdl:message name="SearchTable9SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable9Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable10SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable10" />
  </wsdl:message>
  <wsdl:message name="SearchTable10SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable10Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable11SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable11" />
  </wsdl:message>
  <wsdl:message name="SearchTable11SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable11Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable12SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable12" />
  </wsdl:message>
  <wsdl:message name="SearchTable12SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable12Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable13SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable13" />
  </wsdl:message>
  <wsdl:message name="SearchTable13SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable13Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable14SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable14" />
  </wsdl:message>
  <wsdl:message name="SearchTable14SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable14Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable15SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable15" />
  </wsdl:message>
  <wsdl:message name="SearchTable15SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable15Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable16SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable16" />
  </wsdl:message>
  <wsdl:message name="SearchTable16SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable16Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable17SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable17" />
  </wsdl:message>
  <wsdl:message name="SearchTable17SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable17Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable18SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable18" />
  </wsdl:message>
  <wsdl:message name="SearchTable18SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable18Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable19SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable19" />
  </wsdl:message>
  <wsdl:message name="SearchTable19SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable19Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable20SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable20" />
  </wsdl:message>
  <wsdl:message name="SearchTable20SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable20Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable21SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable21" />
  </wsdl:message>
  <wsdl:message name="SearchTable21SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable21Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable22SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable22" />
  </wsdl:message>
  <wsdl:message name="SearchTable22SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable22Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable23SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable23" />
  </wsdl:message>
  <wsdl:message name="SearchTable23SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable23Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable24SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable24" />
  </wsdl:message>
  <wsdl:message name="SearchTable24SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable24Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable25SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable25" />
  </wsdl:message>
  <wsdl:message name="SearchTable25SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable25Response" />
  </wsdl:message>
  <wsdl:message name="SearchTable26SoapIn">
    <wsdl:part name="parameters" element="tns:SearchTable26" />
  </wsdl:message>
  <wsdl:message name="SearchTable26SoapOut">
    <wsdl:part name="parameters" element="tns:SearchTable26Response" />
  </wsdl:message>
  <wsdl:portType name="PatientsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <wsdl:input message="tns:SelectPatientsSoapIn" />
      <wsdl:output message="tns:SelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <wsdl:input message="tns:ICUSelectPatientsSoapIn" />
      <wsdl:output message="tns:ICUSelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <wsdl:input message="tns:CaseSelectSoapIn" />
      <wsdl:output message="tns:CaseSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <wsdl:input message="tns:SearchPatientsSoapIn" />
      <wsdl:output message="tns:SearchPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <wsdl:input message="tns:SearchPatients1SoapIn" />
      <wsdl:output message="tns:SearchPatients1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <wsdl:input message="tns:SearchPatients2SoapIn" />
      <wsdl:output message="tns:SearchPatients2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable1">
      <wsdl:input message="tns:SearchTable1SoapIn" />
      <wsdl:output message="tns:SearchTable1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable2">
      <wsdl:input message="tns:SearchTable2SoapIn" />
      <wsdl:output message="tns:SearchTable2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable3">
      <wsdl:input message="tns:SearchTable3SoapIn" />
      <wsdl:output message="tns:SearchTable3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable4">
      <wsdl:input message="tns:SearchTable4SoapIn" />
      <wsdl:output message="tns:SearchTable4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable5">
      <wsdl:input message="tns:SearchTable5SoapIn" />
      <wsdl:output message="tns:SearchTable5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable6">
      <wsdl:input message="tns:SearchTable6SoapIn" />
      <wsdl:output message="tns:SearchTable6SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable7">
      <wsdl:input message="tns:SearchTable7SoapIn" />
      <wsdl:output message="tns:SearchTable7SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable8">
      <wsdl:input message="tns:SearchTable8SoapIn" />
      <wsdl:output message="tns:SearchTable8SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable9">
      <wsdl:input message="tns:SearchTable9SoapIn" />
      <wsdl:output message="tns:SearchTable9SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable10">
      <wsdl:input message="tns:SearchTable10SoapIn" />
      <wsdl:output message="tns:SearchTable10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable11">
      <wsdl:input message="tns:SearchTable11SoapIn" />
      <wsdl:output message="tns:SearchTable11SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable12">
      <wsdl:input message="tns:SearchTable12SoapIn" />
      <wsdl:output message="tns:SearchTable12SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable13">
      <wsdl:input message="tns:SearchTable13SoapIn" />
      <wsdl:output message="tns:SearchTable13SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable14">
      <wsdl:input message="tns:SearchTable14SoapIn" />
      <wsdl:output message="tns:SearchTable14SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable15">
      <wsdl:input message="tns:SearchTable15SoapIn" />
      <wsdl:output message="tns:SearchTable15SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable16">
      <wsdl:input message="tns:SearchTable16SoapIn" />
      <wsdl:output message="tns:SearchTable16SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable17">
      <wsdl:input message="tns:SearchTable17SoapIn" />
      <wsdl:output message="tns:SearchTable17SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable18">
      <wsdl:input message="tns:SearchTable18SoapIn" />
      <wsdl:output message="tns:SearchTable18SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable19">
      <wsdl:input message="tns:SearchTable19SoapIn" />
      <wsdl:output message="tns:SearchTable19SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable20">
      <wsdl:input message="tns:SearchTable20SoapIn" />
      <wsdl:output message="tns:SearchTable20SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable21">
      <wsdl:input message="tns:SearchTable21SoapIn" />
      <wsdl:output message="tns:SearchTable21SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable22">
      <wsdl:input message="tns:SearchTable22SoapIn" />
      <wsdl:output message="tns:SearchTable22SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable23">
      <wsdl:input message="tns:SearchTable23SoapIn" />
      <wsdl:output message="tns:SearchTable23SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable24">
      <wsdl:input message="tns:SearchTable24SoapIn" />
      <wsdl:output message="tns:SearchTable24SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable25">
      <wsdl:input message="tns:SearchTable25SoapIn" />
      <wsdl:output message="tns:SearchTable25SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTable26">
      <wsdl:input message="tns:SearchTable26SoapIn" />
      <wsdl:output message="tns:SearchTable26SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientsServiceSoap" type="tns:PatientsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <soap:operation soapAction="http://tempuri.org/CaseSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <soap:operation soapAction="http://tempuri.org/SearchPatients1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <soap:operation soapAction="http://tempuri.org/SearchPatients2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable1">
      <soap:operation soapAction="http://tempuri.org/SearchTable1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable2">
      <soap:operation soapAction="http://tempuri.org/SearchTable2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable3">
      <soap:operation soapAction="http://tempuri.org/SearchTable3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable4">
      <soap:operation soapAction="http://tempuri.org/SearchTable4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable5">
      <soap:operation soapAction="http://tempuri.org/SearchTable5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable6">
      <soap:operation soapAction="http://tempuri.org/SearchTable6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable7">
      <soap:operation soapAction="http://tempuri.org/SearchTable7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable8">
      <soap:operation soapAction="http://tempuri.org/SearchTable8" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable9">
      <soap:operation soapAction="http://tempuri.org/SearchTable9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable10">
      <soap:operation soapAction="http://tempuri.org/SearchTable10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable11">
      <soap:operation soapAction="http://tempuri.org/SearchTable11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable12">
      <soap:operation soapAction="http://tempuri.org/SearchTable12" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable13">
      <soap:operation soapAction="http://tempuri.org/SearchTable13" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable14">
      <soap:operation soapAction="http://tempuri.org/SearchTable14" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable15">
      <soap:operation soapAction="http://tempuri.org/SearchTable15" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable16">
      <soap:operation soapAction="http://tempuri.org/SearchTable16" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable17">
      <soap:operation soapAction="http://tempuri.org/SearchTable17" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable18">
      <soap:operation soapAction="http://tempuri.org/SearchTable18" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable19">
      <soap:operation soapAction="http://tempuri.org/SearchTable19" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable20">
      <soap:operation soapAction="http://tempuri.org/SearchTable20" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable21">
      <soap:operation soapAction="http://tempuri.org/SearchTable21" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable22">
      <soap:operation soapAction="http://tempuri.org/SearchTable22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable23">
      <soap:operation soapAction="http://tempuri.org/SearchTable23" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable24">
      <soap:operation soapAction="http://tempuri.org/SearchTable24" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable25">
      <soap:operation soapAction="http://tempuri.org/SearchTable25" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable26">
      <soap:operation soapAction="http://tempuri.org/SearchTable26" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientsServiceSoap12" type="tns:PatientsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap12:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap12:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <soap12:operation soapAction="http://tempuri.org/CaseSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable1">
      <soap12:operation soapAction="http://tempuri.org/SearchTable1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable2">
      <soap12:operation soapAction="http://tempuri.org/SearchTable2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable3">
      <soap12:operation soapAction="http://tempuri.org/SearchTable3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable4">
      <soap12:operation soapAction="http://tempuri.org/SearchTable4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable5">
      <soap12:operation soapAction="http://tempuri.org/SearchTable5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable6">
      <soap12:operation soapAction="http://tempuri.org/SearchTable6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable7">
      <soap12:operation soapAction="http://tempuri.org/SearchTable7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable8">
      <soap12:operation soapAction="http://tempuri.org/SearchTable8" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable9">
      <soap12:operation soapAction="http://tempuri.org/SearchTable9" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable10">
      <soap12:operation soapAction="http://tempuri.org/SearchTable10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable11">
      <soap12:operation soapAction="http://tempuri.org/SearchTable11" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable12">
      <soap12:operation soapAction="http://tempuri.org/SearchTable12" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable13">
      <soap12:operation soapAction="http://tempuri.org/SearchTable13" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable14">
      <soap12:operation soapAction="http://tempuri.org/SearchTable14" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable15">
      <soap12:operation soapAction="http://tempuri.org/SearchTable15" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable16">
      <soap12:operation soapAction="http://tempuri.org/SearchTable16" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable17">
      <soap12:operation soapAction="http://tempuri.org/SearchTable17" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable18">
      <soap12:operation soapAction="http://tempuri.org/SearchTable18" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable19">
      <soap12:operation soapAction="http://tempuri.org/SearchTable19" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable20">
      <soap12:operation soapAction="http://tempuri.org/SearchTable20" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable21">
      <soap12:operation soapAction="http://tempuri.org/SearchTable21" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable22">
      <soap12:operation soapAction="http://tempuri.org/SearchTable22" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable23">
      <soap12:operation soapAction="http://tempuri.org/SearchTable23" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable24">
      <soap12:operation soapAction="http://tempuri.org/SearchTable24" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable25">
      <soap12:operation soapAction="http://tempuri.org/SearchTable25" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTable26">
      <soap12:operation soapAction="http://tempuri.org/SearchTable26" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientsService">
    <wsdl:port name="PatientsServiceSoap" binding="tns:PatientsServiceSoap">
      <soap:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientsServiceSoap12" binding="tns:PatientsServiceSoap12">
      <soap12:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>