MIMIC/MIMIC/Service References/PatientsService/PatientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patients">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="subject_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hadm_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icustay_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valuenum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="intime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="los" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insurance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="religion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marital_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ethnicity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_hosp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dod_ssn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admittime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dischtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deathtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="admission_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discharge_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edregtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="edouttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospital_expire_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="has_chartevents_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dbsource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cgid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="warning" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultstatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stopped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="abbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linksto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unitname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conceptid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="submit_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="submit_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_tele" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_resp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_cdiff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_mrsa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_vre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callout_outcome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discharge_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acknowledge_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="updatetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acknowledgetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outcometime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstreservationtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentreservationtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transfertime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="curr_service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eventtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_careunit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prev_wardid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="care_label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="amountuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="linkorderid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inp_stopped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="newbottle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercategoryname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="secondaryordercategoryname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercomponenttypedescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordercategorydescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientweight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalamountuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isopenbag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="continueinnextdept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cancelreason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="statusdescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_editedby" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_canceledby" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originalamount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="originalrate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_chartdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="n_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iserror" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="o_storetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcpt_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sectionrange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcpt_sectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subsectionrange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dcp_subsectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codesuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mincodeinsubsection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="maxcodeinsubsection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="seq_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="icd9_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="costcenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpt_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ticket_id_seq" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subsectionheader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dr_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_severity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drg_mortality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_valuenum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_valueuom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_chartdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_charttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="spec_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="spec_type_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="org_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="org_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isolate_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ab_itemid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ab_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_comparison" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dilution_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interpretation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="enddate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_name_poe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="drug_name_generic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="formulary_drug_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gsn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ndc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prod_strength" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dose_val_rx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dose_unit_rx" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="form_val_disp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="form_unit_disp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="route" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="short_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="long_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_p_short_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_p_long_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_l_label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fluid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_l_category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loinc_code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ICUSelectPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICUSelectPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patients" type="tns:Patients" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseSelectResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients1">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatients1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatients1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPatients2">
        <s:complexType />
      </s:element>
      <s:element name="SearchPatients2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPatients2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectPatients" />
  </wsdl:message>
  <wsdl:message name="SelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:ICUSelectPatients" />
  </wsdl:message>
  <wsdl:message name="ICUSelectPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:ICUSelectPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="CaseSelectSoapIn">
    <wsdl:part name="parameters" element="tns:CaseSelect" />
  </wsdl:message>
  <wsdl:message name="CaseSelectSoapOut">
    <wsdl:part name="parameters" element="tns:CaseSelectResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients" />
  </wsdl:message>
  <wsdl:message name="SearchPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPatients1SoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients1" />
  </wsdl:message>
  <wsdl:message name="SearchPatients1SoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatients1Response" />
  </wsdl:message>
  <wsdl:message name="SearchPatients2SoapIn">
    <wsdl:part name="parameters" element="tns:SearchPatients2" />
  </wsdl:message>
  <wsdl:message name="SearchPatients2SoapOut">
    <wsdl:part name="parameters" element="tns:SearchPatients2Response" />
  </wsdl:message>
  <wsdl:portType name="PatientsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <wsdl:input message="tns:SelectPatientsSoapIn" />
      <wsdl:output message="tns:SelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <wsdl:input message="tns:ICUSelectPatientsSoapIn" />
      <wsdl:output message="tns:ICUSelectPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <wsdl:input message="tns:CaseSelectSoapIn" />
      <wsdl:output message="tns:CaseSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <wsdl:input message="tns:SearchPatientsSoapIn" />
      <wsdl:output message="tns:SearchPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <wsdl:input message="tns:SearchPatients1SoapIn" />
      <wsdl:output message="tns:SearchPatients1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <wsdl:input message="tns:SearchPatients2SoapIn" />
      <wsdl:output message="tns:SearchPatients2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientsServiceSoap" type="tns:PatientsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <soap:operation soapAction="http://tempuri.org/CaseSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <soap:operation soapAction="http://tempuri.org/SearchPatients1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <soap:operation soapAction="http://tempuri.org/SearchPatients2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientsServiceSoap12" type="tns:PatientsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatients">
      <soap12:operation soapAction="http://tempuri.org/SelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ICUSelectPatients">
      <soap12:operation soapAction="http://tempuri.org/ICUSelectPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaseSelect">
      <soap12:operation soapAction="http://tempuri.org/CaseSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients1">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPatients2">
      <soap12:operation soapAction="http://tempuri.org/SearchPatients2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientsService">
    <wsdl:port name="PatientsServiceSoap" binding="tns:PatientsServiceSoap">
      <soap:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientsServiceSoap12" binding="tns:PatientsServiceSoap12">
      <soap12:address location="http://localhost/PatientsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>